<h1>Bienvenido al administrador</h1>
<%= link_to 'Categorias', categories_path%>
<%= link_to 'Productos', products_path%>
<%= link_to 'Vendedores', sellers_path%>
<%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete %>
